@{
    Layout = "_Layout";
    ViewData["Title"] = "Flights";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Flight Route</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in (IQueryable<Presentation.ViewModels.FlightVM>)ViewData["Flights"])
        {
            @if(flight.IsFull)
            {
            <tr class="flight-full">
                <td>@flight.FlightRoute</td>
                <td>@flight.DepartureDate</td>
                <td>@flight.ArrivalDate</td>
                <td>@(flight.Price)&euro;</td>
                <td style="color: red">FULL</td>
            </tr>
            }
            else
            {
            <tr class="table-row-hover" onclick="openBookingPageForFlight(@flight.ID)">
                <td>@flight.FlightRoute</td>
                <td>@flight.DepartureDate</td>
                <td>@flight.ArrivalDate</td>
                <td>@(flight.Price)&euro;</td>
                <td></td>
            </tr>
            }
        }
    </tbody>
</table>

@section Styles {
<style>
tr.flight-full {
    background-color: #fae1e1;
}

tr.table-row-hover {
    cursor: pointer;
}

tr.table-row-hover:hover {
    background-color: #e3e3e3;
}
</style>        
}

@section Scripts {
<script>
        function openBookingPageForFlight(flightId) {
            window.location.href = "/Flight/Book/" + flightId;
        }
</script>
}
