@{
    Layout = "_Layout";
    ViewData["Title"] = "Flights";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Flight Route</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in (IQueryable<Presentation.ViewModels.FlightVM>)ViewData["Flights"])
        {
            <tr>
                <td>@flight.FlightRoute</td>
                <td>@flight.DepartureDate</td>
                <td>@flight.ArrivalDate</td>
                <td>@(flight.Price)&euro;</td>
                <td>
                    @if(!flight.IsFull)
                    {
                        <a href="@(Url.Action("Book", new { id = flight.ID }))">Book</a>
                    }
                    else
                    {
                        <span>Full</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
