@{
    Layout = "_Layout";
    ViewData["Title"] = "Flights";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Route</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Number of bookings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in (IQueryable<Presentation.ViewModels.FlightVM>)ViewData["Flights"])
        {
            <tr onclick="openTicketsPageForFlight(@flight.ID)">
                <td>@flight.ID</td>
                <td>@flight.FlightRoute</td>
                <td>@flight.DepartureDate</td>
                <td>@flight.ArrivalDate</td>
                <td>@flight.NumberOfBookings</td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
<style>
tr {
    cursor: pointer;
}
</style>        
}

@section Scripts {
<script>
        function openTicketsPageForFlight(flightId) {
            window.location.href = "/Admin/Tickets/" + flightId;
        }
</script>
}
